* {
    box-sizing: border-box;
}
/* These are the pseudo elements themselves. The actual parts of the scrollbars. */
::-webkit-scrollbar {
    /* 1 */
    width: 12px;
}
::-webkit-scrollbar-button {
    /* 2 */
    background-color: blue;
    color:white;
    border-radius: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.452);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
    /* 4 */
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 17, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(25, 8, 255, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 255, 0.4);
}
::-webkit-scrollbar-corner {
    color:white;
    /* 6 */
}
::-webkit-resizer {
    /* 7 */
}
body {
    font-family: Poiret One;
    font-weight: bolder;
}
/* select{
    width:100%;
    border: 1px solid #bbb;
    padding:.75em 1em .5em 1em;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
    background-color:white;
    background-image:url(select-arrow.png);
    background-position: right;
    background-repeat: no-repeat;
} */
.container {
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient( to right bottom, rgb(0, 0, 255), rgb(239, 255, 255));
    width: 715px;
    max-width: 100%;
    padding: calc(1rem/16*20) calc(1rem/16*10);
    /* display: block;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; */
    /* display: flex; 
    display: -webkit-flexbox;
    display: -ms-flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    position: relative;
}
label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

.kontaktformular {
    /* margin:0 auto;
    text-align: center; */
}

label.container, textarea.container, input.container {
    width: 60%;
    display: inline-block;
    white-space: wrap;
    text-align: left;
    left: 10px;
    border: 2px solid green;
}

p {
    /* border: 2px solid red; */
}

   
textarea, select, input[type="text"], input[type="number"], input[type="phone"], 
input[type="email"], 
input[type="password"], 
input[type="date"]
{
    width: 60%;
    font-size: 1em;
    outline: 0;
    transition: border-bottom-color 1s;
    padding: 3px 15px;
    right: 100px;
   /*    right:calc(1rem/16*40); 
    border: 2px solid blue;*/
    /* float:right; */
    border-radius:5px;
    background-color: rgb(246, 250, 255);
    text-align: left;
    margin: 5px;
}


button{
    border-color: blue;
    border-radius: 5px;             

}

textarea:focus, 
select:focus,
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="number"]:focus, 
input[type="phone"]:focus, 
input[type="password"]:focus,  
input[type="date"]:focus {
    border-bottom-color: blue;
    box-shadow: 1px 1px 12px 2px rgb(0, 0, 255, 0.5);
    border-radius: 10px;
    color:blue;
    
}
input[type="radio"]:focus{
    border-bottom-color: blue;
    box-shadow: 1px 1px 12px 2px rgb(0, 0, 255, 0.5);
    background: white;
    border-radius: 2px blue;
}
input[type="reset"]:focus,
input[type="submit"]:focus {
    border-bottom-color: blue;
    box-shadow: 1px 1px 12px 2px rgb(0, 0, 255, 0.5);
    border-radius: 10px;
    background:blue;
    color:white;
}
@media screen and (max-width:500px) {
    
    .container, input, label, textarea, p{
        width: 100%;
        display: block;
      
    }
    .container p label {
        text-align: left;
        color: white;
        width: 100%
    }
}
    input[type="radio"]{
        display: inline-block;
        width:auto;
    }
    textarea, 
    input[type="text"], 
    input[type="number"], 
    input[type="phone"], 
    input[type="email"], 
    input[type="password"], 
    input[type="date"],
    select
    {
        width: 99%;
        font-size: 1em;
        outline: 0;
        transition: border-bottom-color 1s;
        border-radius: 5px;
        padding: 3 15px;
        text-align: left;
        margin:5px;
        
    }

    /* input[type='radio'] {
    width:auto;
    float:left;
    margin-right: .75em;
    background:transparent;
    border:none;
}
input[type='radio']:checked + label::before,
input[type='radio']:not(:checked) + label::before {
    content:'';
    display:inline-block;
    width: 17px;
    height:17px;
    position: relative;
    top:4px;
    border: 1px solid blue;
    background: rgb(0, 0, 255);
    margin-right: 1em;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,255,0.1);
}

input[type=radio]:not(:checked) + label::before {
    border-radius: 30px;
  }
  input[type='radio']:hover  + label::before {
    background:rgb(38, 1, 139);
    box-shadow: inset 0 0 0 2px blue;
  }
  input[type='radio']:checked  + label::before {
    background:blue;
    box-shadow: inset 0 0 0 2px rgb(3, 7, 252);
  } */


    /* label{
    font-size: 1em;
    outline: 0;
    transition: border-bottom-color 1s;
    padding: 3px 15px;
    left:100px;;
 right:calc(1rem/16*40); 
    border: 2px solid blue;
    float:left;
}*/

/* input[type="radio"]
{
    width: 100%;
    font-size: 1em;
    outline: 0;
    transition: border-bottom-color 1s;
    padding: 3px 15px;
    left: 100px;
   /*    right:calc(1rem/16*40); 
    border: 2px solid blue;*/
    /* float:right; */
  /*  border:2px solid blue;
    border-radius:5px;
    background-color: rgb(33, 70, 116);
    text-align: left;
    margin: 5px;
} 
*/