/* 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Modak', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Uncial Antiqua', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Diplomata', cursive;
    font-family: 'Allura', cursive;
    font-family: 'Black Ops One', cursive;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Rochester', cursive;
    font-family: 'Syncopate', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Nixie One', cursive;
    font-family: 'Montserrat', sans-serif;

*/

//variablen
$font-stack: 'Orbitron',
sans-serif;
$font-main: 'Josefin Slab',
serif;
$font-m:'Quicksand',
sans-serif;
$font-wt: bolder;
$font-col-blue:blue;
$font-col-gr:green;
$font-col-purple:purple;
$bg-color: rgba(255, 255, 0, 0.39);
$f-size1:2em;
$f-size2:3em;
$f-size3:.5em;
$f-size4:8em;
$f-size5:10em;
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10rem;
    background-color: $bg-color;
    text-align: center;
    padding-top: $f-size1;
    h1 {
        font-family: $font-stack;
    }
}

main {
    margin: .5rem;
    font-family: $font-main;
    .huge {
        font-size: $f-size5;
        color: $font-col-blue;
    }
    .big {
        font-size: $f-size4;
        color: $font-col-blue;
    }
    .medium {
        font-family: $font-m;
        font-size: $f-size2;
        color: $font-col-purple;
    }
    .middle {
        font-size: $f-size2;
        color: $font-col-purple;
    }
    .small {
        font-family: $font-m;
        font-size: $f-size1;
        color: $font-col-gr;
    }
    .tiny {
        font-family: $font-m;
        font-size: $f-size3;
        color: $font-col-gr;
        margin-bottom: $f-size1;
    }
}

footer {
    height: 10rem;
    background-color: $bg-color;
    text-align: center;
    padding-top: 1rem;
    h2 {
        font-family: $font-stack;
    }
}