* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

img {
    float: left;
    max-width: 100%;
}

#img-float {
    padding: 20px;
    box-shadow: 1px 1px 2px 1px rgba(42, 147, 0, 0.682);
    margin-right: 15px;
    margin-bottom: 8px;
}

.article {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #2b9401;
    padding: 15px;
    margin: 0 15px;
    text-align: justify;
    /* width: calc(100%/3.1); */
    width: 30%;
    /* overflow: auto; */
    float: none;
    /* margin-top: 0px; */
    background-color: rgb(240, 255, 250);
}

#first {
    float: left;
}

#second {
    /* float: right; */
    float: left;
}

#third {
    /* clear: both; */
    /* float: right; */
    float: left;

}

@media screen and (max-width:800px) {
    .article {
        width: 100%;
        margin:0 ;
        margin-bottom:10px;
    }
    img{
        float: none;
        max-width:100%;
    }
}