* {
    box-sizing: border-box;
}

body {
    background-color: #fff4d6;
    margin: 0 auto;

}

#main {
    margin: 0 auto;
}

img#logo {
    width: 50px;
    margin: 5px;
    float: left;
}

nav a {
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-weight: bold;
}

nav a:hover {
    color: #158ab9;
}

figure {
    margin: 0px;

}

figcaption {
    background-color: hsl(0, 0%, 0%, 0.9);
    color: white;
    padding: 15px;
    border-radius: 0 0 15px 15px;

}

div#article {

    border: 2px solid rgba(44, 19, 11, 0.794);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

img#figure {
    margin: 0 autox;
    width: 100%;
    border-radius: 15px 15px 0 0;

}

div#img {
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-image: -moz-linear-gradient(#a95e5f, #7d0c0e);
    /* background-color: #8e2b2c; */
    border-radius: 7px;
    border: 1px solid #7d0c0e;
    float: right;
    color: white;
    font-size: 15px;
    overflow: hidden;
    height: 30px;

}

a.button {
    color: white;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

header h1 {
    font-style: italic;
}

header h2 {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logo,
header h1 {
    display: inline-block;
    margin-bottom: 0;
}

img.netw-logo {
    margin-top: 25px;
    width: 30px;
}

article,
aside {
    float: left;
    text-align: justify;
    vertical-align: middle;
    margin: 10px 8px;
}

img.autor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    margin-bottom: 10px;
}

header {
    border-radius: 15px;
    border: 2px solid #833b11;
    /* height: 145px; */
    /* position: relative; */
}

aside {

    padding-left: 10px;
    box-shadow: 0 0 2px 1px rgba(24, 24, 24, 0.5);
    border-radius: 15px;
    background-color: #706b64;
}

p,
p.autor {
    padding: 0 20px 20px 20px;
    text-align: justify;
    margin: 0;
}

h2.autor {
    color: #ffffff;
    text-align: center;
}

footer {
    border-radius: 15px;
    width: 100%;
}


div#picture {
    border-radius: 15px;
    width: 35%;
    float: left;
    text-align: center;
}

div#friends,
div#tweeter {
    border-radius: 15px;
    float: left;
    padding-left: 10px;
}

div#tweeter p {
    margin-top: 35px;
    font-size: 13px;
}

div.pict img {
    margin-top: 35px;
}

ul#friend {
    list-style-image: url('../img/list.png');
    display: inline-block;
    vertical-align: top;
    color: #741e1e;
    margin: 25px 0;
    font-size: 12px;
    text-align: left;
}

h3#pict {
    text-transform: uppercase;
    font-size: 12px;
}

@media screen and (min-width:799px) {
    #main {
        width: 70%;
    }

    .logo {
        /* float: left; */
    }

    img#logo {
        float: left;
    }

    nav {
        display: inline;
        position: absolute;
        bottom: 10px;
        right: 20px;

    }

    ul.nav {

        list-style: none;
        width: 100%;

    }

    article {
        width: 60%;
        border: 2px solid #2f1c09;
        border-radius: 15px;
    }

    img#trav {
        float: left;
        margin: 10px 10px 5px 15px;
    }

    h3#logo {
        padding: 0px;
        float: left;
        font-weight: normal;
        font-size: 18px;
    }

    aside {
        width: 33%;
    }

    footer {
        border: 2px solid #000000;
        display: inline-block;
        width: 100%;
    }

    div#tweeter {
        width: 15%;
    }

    div#friends {
        width: 50%;
    }

    div.pict img {
        width: 50px;
    }
}

@media screen and (max-width:800px) {
    #main {
        /* margin:0 auto; */
        width: 100%;
    }

    nav,
    nav a,
    .logo,
    img#logo,
    section {
        display: block;

    }

    nav {
        position: relative;
        text-align: center;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    .logo,
    img#logo {
        display: inline-block;

    }

    ul.nav {
        list-style: none;
    }

    section {
        border-radius: 15px;
    }

    article {
        border: 2px solid #2f1c09;
        border-radius: 15px;
        margin: 0 auto;
    }

    img#trav {
        float: left;
        margin: 10px 10px 5px 15px;
    }

    article,
    aside {
        width: 100%;
        margin: 10px 0 auto;
    }

    h3#logo {
        padding: 10px;
        font-weight: normal;
        font-size: 15px;
        text-align: center;
    }

    footer {
        display: block;
        width: 100%;
    }

    div#tweeter,
    div#picture,
    div#friends {
        border: 2px solid #000000;
        width: 100%;
        margin: 5px 0;
        text-align: center;
    }

    div#tweeter p {
        margin-top: 35px;
        font-size: 13px;
        text-align: center;
    }

    div.pict img {
        width: 50px;
    }

}

/* div#friends li {
    list-style-image: url('img/list.png');
}
p.friends {
    color: #741e1e;
    font-size: 5px;
}
ul.friends {
    list-style-image: url('sqpurple.gif'); 
    float: left;
    color: #741e1e;
    margin: 0 0 25px 0;
} */
/* div#friends li {
    list-style-image: url('img/list.png');
} */