* {
    box-sizing: border-box;
}

body {
    background-color: #fff4d6;

}

@media screen and (min-width:900px) {
    #main {
        width: 70%;
        margin: 0 auto;
    }

    header {
        border-radius: 15px;
        border: 2px solid #fd0000;
        height: 145px;
        position: relative;
    }

    nav {
        position: absolute;
        /* border-radius: 12px;
    border: 2px solid #0000ff; */
        right: 15px;
        bottom: 10px;
        display: inline-block;
        width: 35%;

    }

    .logo {
        float: left;
    }

    img#logo {
        width: 50px;
        margin: 5px;
        float: left;
    }

    nav a {
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #000000;
        font-weight: bold;

    }

    nav a:hover {
        color: #2eb915;
    }

    .nav ul {
        float: right;
        /* text-align: right; */
        list-style: none;
        border: 2px solid blau;
        border-radius: 15px;
    }

    li {
        list-style: none;
        display: inline-block;
        padding: 0px 2px;
    }

    figure {
        margin: 0px;
    }

    figcaption {
        background-color: hsl(0, 0%, 0%, 0.9);
        color: white;
        padding: 15px;
        border-radius: 0 0 15px 15px;

    }

    button {
        background-image: -moz-linear-gradient(#a95e5f, #7d0c0e);
        /* background-color: #8e2b2c; */
        border-radius: 7px;
        border: 1px solid #7d0c0e;
        float: right;
        color: white;
        font-size: 15px;
        overflow: hidden;
        height: 30px;

    }

    a.button {
        color: white;
        font-size: 15px;
        padding: 10px;
        text-decoration: none;

    }

    #article {
        margin: 0px;
        border: 2px solid orange;
        border-radius: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    img#figure {
        margin: 0 autox;
        width: 100%;
        border-radius: 15px 15px 0 0;

    }

    section {
        border: 2px solid #004400;
        border-radius: 15px;
        /* height: 60%; */


    }

    article {
        width: 67%;
        border: 2px solid #440089;
        border-radius: 15px;
    }

    img#trav {
        float: left;
        margin: 10px 10px 5px 15px;
    }

    article,
    aside {
        float: left;
        text-align: justify;
        vertical-align: middle;
        margin: 10px 0;


    }

    h1 {
        font-style: italic;
    }

    h2 {
        text-transform: uppercase;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h3#logo {
        padding: 0px 15px;
        float: left;
        font-weight: normal;
        font-size: 18px;
    }

    .autor {
        color: white;
        text-align: center;

    }

    img.autor {

        vertical-align: auto;

    }

    p,
    p.autor {
        padding: 0 20px 20px 20px;
        text-align: justify;
        margin: 0;
    }

    aside {
        width: 33%;
        padding-left: 10px;
        border: 2px solid #ff0088;
        border-radius: 15px;
        background-color: #706b64;

    }

    footer {
        border: 2px solid #000000;
        border-radius: 15px;
        display: inline-block;
        width: 100%;
    }

    div#tweeter {
        border: 2px solid #000000;
        border-radius: 15px;
        width: 15%;
        float: left;
        padding-left: 10px;
    }

    div#picture {
        border: 2px solid #000000;
        border-radius: 15px;
        width: 35%;
        float: left;
        text-align: center;

    }

    div#friends {
        border: 2px solid #000000;
        border-radius: 15px;
        width: 50%;
        float: left;
        padding-left: 10px;

    }

    p.friends {
        color: #741e1e;
        font-size: 5px;
    }

    ul.friends {
        /* list-style-image: url('sqpurple.gif'); */
        float: left;
        color: #741e1e;
        margin: 0 0 25px 0;
    }


    h3#pict {
        text-transform: uppercase;
        font-size: 12px;
    }
}