.left {
    background-color: aqua;
    padding: 10px;
    width: 15%;
    float: left;
}

.main {
    background-color: red;
    padding: 30px;
    width: 60%;
    color: white;
    float: left;
}

.right {
    background-color: yellow;
    padding: 10px;
    width: 15%;
    float: left;
}

@media screen and (max-width:600px) and (min-width:420px) {
    .left2 {
        background-color: aqua;
        padding: 20px 0px;
        width: 15%;
        float: left;
    }

    .main2 {
        background-image: -moz-radial-gradient(yellow, aqua);
        padding: 20px 0px;
        width: 60%;
        color: black;
        float: left;
        text-align: center;
    }

    .right2 {
        background-color: aqua;
        padding: 20px 0px;
        width: 15%;
        float: left;
    }
}

@media screen and (max-width:1200px) and (min-width:600px) {
    .left2 {
        background-color: aqua;
        padding: 20px;
        width: 15%;
        float: left;
    }

    .main2 {
        background-image: -moz-radial-gradient(yellow, aqua);
        padding: 20px;
        width: 45%;
        color: black;
        float: left;
        text-align: center;
    }

    .right2 {
        background-color: aqua;
        padding: 20px;
        width: 18%;
        float: left;
    }
}

@media screen and (max-width:420px) {
    .left2 {
        background-color: aqua;
        padding: 20px;
        width: 100%;
        float: left;
    }

    .main2 {
        /* background-color: red; */
        background-image: -moz-linear-gradient(aqua, red, yellow);
        padding: 20px;
        width: 100%;
        color: white;
        float: left;
        text-align: left;
    }

    .right2 {
        background-color: yellow;
        padding: 20px;
        width: 100%;
        float: left;
    }
}