* {
    box-sizing: border-box;
}

body {
    /* margin: 0 auto; */
}

.ex1 {
    width: 600px;
    border: 2px solid #940121;
    padding: 20px;
    margin: 10 auto;
}

.ex2 {
    max-width: 600px;
    border: 2px solid blue;
    padding: 40px;
    margin: 0 auto;
}

.no-overflow {

    width: 50%;
    border: 2px solid rgb(144, 226, 21);
    height: 100px;
    background-color: rgb(180, 255, 255);
    color: blue;
    margin: 10px auto;
    text-align: justify;
}

.overflow-scroll {

    width: 50%;
    border: 2px solid rgb(144, 226, 21);
    height: 100px;
    overflow: scroll;
    background-color: rgb(180, 255, 255);
    color: blue;
    margin: 0px auto;
    text-align: justify;
}

.overflow-hidden {
    width: 50%;
    border: 2px solid rgb(144, 226, 21);
    height: 100px;
    /* overflow:scroll; */
    overflow: hidden;
    background-color: rgb(180, 255, 255);
    color: blue;
    margin: 0px auto;
    text-align: justify;
}
h3{
    margin: 0 auto;
}