.top-caroussel {
  height: 300px;
}

/* Plane moves from left to right, the opacity changes from 0 to 1 back to 0 */
@-webkit-keyframes flugzeug {
  0% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(25%, 30%);
            transform: translate(25%, 30%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 0;
  }
}
@keyframes flugzeug {
  0% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(25%, 30%);
            transform: translate(25%, 30%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 0;
  }
}

.flugzeug {
  height: 300px;
  position: relative;
  -webkit-animation: flugzeug 7s forwards;
          animation: flugzeug 7s forwards;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-name: welcome;
          animation-name: welcome;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: opacity 7s ease-in-out;
  transition: opacity 7s ease-in-out;
}

@-webkit-keyframes welcome {
  0% {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
    opacity: 0;
  }
  50% {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
    opacity: 0;
  }
  100% {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
  }
}

@keyframes welcome {
  0% {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
    opacity: 0;
  }
  50% {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
    opacity: 0;
  }
  100% {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
  }
}

h1 {
  font-size: 60px;
  font-weight: 600;
}

h2 {
  font-size: 40px;
}

.h2-text {
  font-family: 'Marck Script', cursive;
}

a.f {
  font-family: 'Gruppo', cursive;
}

.karte {
  max-width: 100%;
  height: auto;
}

figure > img {
  max-width: 50%;
}

figure > img:hover {
  max-width: 100%;
}

.h1-text {
  font-family: 'Tangerine', cursive;
}

a {
  text-decoration: none;
}

.h3-text {
  font-family: 'Tangerine', cursive;
}

.article-text {
  font-family: 'Josefin Slab', serif;
}

.span::first-letter {
  font-size: 2.5em;
  font-family: 'Tangerine', cursive;
  line-height: 30px;
  initial-letter: 4 5;
}

ul {
  list-style: none;
}

li.gradued:before {
  content: '\1F393';
  margin-left: 20px;
  margin-right: 10px;
}

@media screen and (max-width: 440px) and (height: 640) and (orientation: portrait) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 47.5%;
    left: 50%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 39%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 39%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 39%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 39%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 39%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 39%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 440px) and (height: 740px) and (orientation: portrait) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 44%;
    left: 50%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 740px) and (height: 360px) and (orientation: landscape) {
  .welcome {
    margin: 0;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-transition: opacity scale 0.05s;
    transition: opacity scale 0.05s;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 7.5%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 7.5%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 7.5%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 7.5%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 7.5%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 7.5%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 720px) and (height: 1280px) and (orientation: portrait) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 36%;
    left: 50%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1280px) and (height: 720px) and (orientation: landscape) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 44.7%;
    left: 50%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 768px) and (height: 1024px) and (orientation: portrait) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 39%;
    left: 50%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1024px) and (height: 768px) and (orientation: landscape) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 43.5%;
    left: 50%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    50% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.01, 0.01);
              transform: scale(0.01, 0.01);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 25%;
      left: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
}
/*# sourceMappingURL=style.css.map */