.top-caroussel {
  height: 300px;
}

.welcome {
  position: absolute;
  top: 85px;
  left: 245px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-delay: 5.5;
          animation-delay: 5.5;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: welcome;
          animation-name: welcome;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  z-index: 5;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@keyframes welcome {
  from {
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

.uzb {
  position: absolute;
  top: 100px;
  left: 260px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: gerb-uzb;
          animation-name: gerb-uzb;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

@-webkit-keyframes gerb-uzb {
  from {
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@keyframes gerb-uzb {
  from {
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

.ussr {
  position: relative;
  top: -320px;
  left: 230px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: gerb;
          animation-name: gerb;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

@-webkit-keyframes gerb {
  from {
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
  }
  to {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
}

@keyframes gerb {
  from {
    -webkit-transform: scale(0.01, 0.01);
            transform: scale(0.01, 0.01);
  }
  to {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
}

h1 {
  font-size: 60px;
  font-weight: 600;
}

a.f {
  font-family: 'Gruppo', cursive;
}

.karte {
  max-width: 100%;
  height: auto;
}

figure > img {
  max-width: 50%;
}

figure > img:hover {
  max-width: 100%;
}

.h1-text {
  font-family: 'Tangerine', cursive;
}

.h3-text {
  font-family: 'Tangerine', cursive;
}

.article-text {
  font-family: 'Josefin Slab', serif;
}

.span::first-letter {
  font-size: 2.5em;
  font-family: 'Tangerine', cursive;
  line-height: 10px;
}

i.fas {
  color: blue;
}

ul {
  list-style: none;
}

li:before {
  content: '\1F393';
  margin-left: 20px;
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */