    //  *** Fonts ***
    // font-family: 'Great Vibes',
    // cursive;
    // font-family: 'Tangerine',
    // cursive;
    // font-family: 'Poiret One',
    // cursive;
    // font-family: 'Josefin Slab',
    // serif;
    // font-family: 'Syncopate',
    // sans-serif;
    // font-family: 'Gruppo',
    // cursive;
    // font-family: 'Petit Formal Script',
    // cursive;
    // font-family: 'Kodchasan',
    // sans-serif;
    // font-family: 'Amita',
    // cursive;
    // font-family: 'Kurale',
    // serif;
    // font-family: 'Lovers Quarrel',
    // cursive;
    // font-family: 'Redressed',
    // cursive;
    // font-family: 'Glass Antiqua',
    // cursive;
    ////***
    // *** -----------------------
    // **** Style ****
    .top-caroussel {
        height: 300px;
    }
    /* Plane moves from left to right, the opacity changes from 0 to 1 back to 0 */
    
    @keyframes flugzeug {
        0% {
            transform: translate(100%, 100%);
            opacity: 0;
        }
        50% {
            transform: translate(25%, 30%);
            opacity: 1;
        }
        100% {
            transform: translate(0%, 0%);
            opacity: 0;
        }
    }
    
    .flugzeug {
        height: 300px;
        position: relative;
        animation: flugzeug 7s forwards;
    }
    
    @mixin animation($delay, $duration, $animation-name, $direction, $fillmode, $timing-function, $percent) {
        animation-delay: $delay;
        animation-duration: $duration;
        animation-name: $animation-name;
        animation-direction: $direction;
        animation-fill-mode: $fillmode;
        animation-timing-function: $timing-function;
        @keyframes welcome {
            0% {
                margin: 0;
                position: absolute;
                top: $percent;
                left: 0%;
                transform: translate(-50%, -50%);
                transform: scale(0.01, 0.01);
                opacity: 0;
            }
            50% {
                margin: 0;
                position: absolute;
                top: $percent;
                left: 0%;
                transform: translate(-50%, -50%);
                transform: scale(0.01, 0.01);
                opacity: 0;
            }
            100% {
                margin: 0;
                position: absolute;
                top: $percent;
                left: 0%;
                transform: translate(-50%, -50%);
                transform: scale(0.1, 0.1);
                opacity: 0;
            }
        }
    }
    
    .welcome {
        display: flex;
        margin: 0;
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include animation(0.5s, 6s, welcome, alternate, forward, ease-in-out, 25%);
        z-index: 5;
        justify-content: center;
        align-content: center;
        transition: opacity 7s ease-in-out;
    }
    
    h1 {
        font-size: 60px;
        font-weight: 600;
    }
    
    h2 {
        font-size: 40px;
    }
    
    .h2-text {
        font-family: 'Marck Script', cursive;
    }
    
    a.f {
        font-family: 'Gruppo', cursive;
    }
    
    .karte {
        max-width: 100%;
        height: auto;
    }
    
    figure>img {
        max-width: 50%;
    }
    
    figure>img:hover {
        max-width: 100%;
    }
    
    .h1-text {
        font-family: 'Tangerine', cursive;
    }
    
    a {
        text-decoration: none;
    }
    
    .h3-text {
        font-family: 'Tangerine', cursive;
    }
    
    .article-text {
        font-family: 'Josefin Slab', serif;
    }
    
    .span::first-letter {
        font-size: 2.5em;
        font-family: 'Tangerine', cursive;
        line-height: 30px;
        initial-letter: 4 5;
    }
    
    ul {
        list-style: none;
    }
    
    li.gradued:before {
        content: '\1F393';
        margin-left: 20px;
        margin-right: 10px;
    }
    
    li.building:before {
        content: '\1f3db \02735';
        color: #17a2b8;
        margin-left: 20px;
        margin-right: 10px;
    }
    
    li.building {
        cursor: pointer;
    }
    
    @media screen and (max-width:440px) and (height:640) and (orientation:portrait) {
        .welcome {
            margin: 0;
            position: absolute;
            top: 47.5%;
            left: 50%;
            @include animation(0.05, 6s, welcome, alternate, forward, ease-in-out, 39%);
        }
    }
    
    @media screen and (max-width:440px) and (height:740px) and (orientation:portrait) {
        .welcome {
            margin: 0;
            position: absolute;
            top: 44%;
            left: 50%;
            @include animation(0.05, 6s, welcome, alternate, forward, ease-in-out, 25%);
        }
    }
    
    @media screen and (max-width:740px) and (height:360px) and (orientation:landscape) {
        .welcome {
            margin: 0;
            position: absolute;
            height: 100%;
            top: 50%;
            left: 50%;
            @include animation(0.05s, 6s, welcome, alternate, forward, ease-in-out, 7.5%);
            //transform: scale(0.5, 0.5);
            transition: opacity scale 0.05s;
        }
    }
    
    @media screen and (max-width:720px) and (height:1280px) and (orientation:portrait) {
        .welcome {
            margin: 0;
            position: absolute;
            top: 36%;
            left: 50%;
            @include animation(0.05, 6s, welcome, alternate, forward, ease-in-out, 25%);
        }
    }
    
    @media screen and (max-width:1280px) and (height:720px) and (orientation:landscape) {
        .welcome {
            margin: 0;
            position: absolute;
            top: 44.7%;
            left: 50%;
            @include animation(0.05, 6s, welcome, alternate, forward, ease-in-out, 25%);
        }
    }
    
    @media screen and (max-width:768px) and (height:1024px) and (orientation:portrait) {
        .welcome {
            margin: 0;
            position: absolute;
            top: 39%;
            left: 50%;
            @include animation(0.05, 6s, welcome, alternate, forward, ease-in-out, 25%);
        }
    }
    
    @media screen and (max-width:1024px) and (height:768px) and (orientation:landscape) {
        .welcome {
            margin: 0;
            position: absolute;
            top: 43.5%;
            left: 50%;
            @include animation(0.05, 6s, welcome, alternate, forward, ease-in-out, 25%);
        }
    }