//  *** Fonts ***
// font-family: 'Great Vibes',
// cursive;
// font-family: 'Tangerine',
// cursive;
// font-family: 'Poiret One',
// cursive;
// font-family: 'Josefin Slab',
// serif;
// font-family: 'Syncopate',
// sans-serif;
// font-family: 'Gruppo',
// cursive;
// font-family: 'Petit Formal Script',
// cursive;
// font-family: 'Kodchasan',
// sans-serif;
// font-family: 'Amita',
// cursive;
// font-family: 'Kurale',
// serif;
// font-family: 'Lovers Quarrel',
// cursive;
// font-family: 'Redressed',
// cursive;
// font-family: 'Glass Antiqua',
// cursive;
////***
// *** -----------------------
// **** Style ****
.top-caroussel {
    height: 300px;
}

@mixin animation($delay, $duration, $animation-name, $direction, $fillmode, $timing-function) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation-name;
    animation-direction: $direction;
    animation-fill-mode: $fillmode;
    animation-timing-function: $timing-function;
    @keyframes welcome {
        from {
            transform: scale(0.01, 0.01);
        }
        to {
            transform: scale(1.2, 1.2);
        }
    }
}

@mixin animation($delay, $duration, $animation-name, $direction, $fillmode, $timing-function) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation-name;
    animation-direction: $direction;
    animation-fill-mode: $fillmode;
    animation-timing-function: $timing-function;
    @keyframes welcome {
        from {
            transform: scale(0.01, 0.01);
        }
        to {
            transform: scale(1.2, 1.2);
        }
    }
}

@mixin animation1($delay, $duration, $animation-name, $direction, $fillmode, $timing-function) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation-name;
    animation-direction: $direction;
    animation-fill-mode: $fillmode;
    animation-timing-function: $timing-function;
    @keyframes gerb-uzb {
        from {
            transform: scale(0.01, 0.01);
        }
        to {
            transform: scale(1.2, 1.2);
        }
    }
}

@mixin animation2($delay, $duration, $animation-name, $direction, $fillmode, $timing-function) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation-name;
    animation-direction: $direction;
    animation-fill-mode: $fillmode;
    animation-timing-function: $timing-function;
    @keyframes gerb {
        from {
            transform: scale(0.01, 0.01);
        }
        to {
            transform: scale(0.5, 0.5);
        }
    }
}

.welcome {
    position: absolute;
    top: 85px;
    left: 245px;
    margin-left: auto;
    margin-right: auto;
    @include animation(5.5, 3s, welcome, alternate, forward, ease-in-out);
    transform: scale(1.2, 1.2);
    z-index: 5;
}

.uzb {
    position: absolute;
    top: 100px;
    left: 260px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    // background-color: red;
    @include animation1(0.5s, 3s, gerb-uzb, alternate, forward, ease-in-out);
    transform: scale(1.3, 1.3);
}

.ussr {
    position: relative;
    top: -320px;
    left: 230px;
    // margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    // background-color: red;
    @include animation2(0.5s, 3s, gerb, alternate, forward, ease-in-out);
    transform: scale(0.5, 0.5);
}

a.f {
    font-family: 'Gruppo', cursive;
}