.top-caroussel {
  height: 300px;
}

/* Plane moves from left to right, the opacity changes from 0 to 1 back to 0 */
@-webkit-keyframes flugzeug {
  0% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(25%, 30%);
            transform: translate(25%, 30%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 0;
  }
}
@keyframes flugzeug {
  0% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(25%, 30%);
            transform: translate(25%, 30%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 0;
  }
}

.flugzeug {
  height: 300px;
  position: relative;
  -webkit-animation: flugzeug 7s forwards;
          animation: flugzeug 7s forwards;
}

.carousel-bg {
  background: rgba(23, 163, 184, 0.1);
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: absolute;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-name: welcome;
          animation-name: welcome;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all 7s ease-in-out;
  transition: all 7s ease-in-out;
}

@-webkit-keyframes welcome {
  0% {
    margin: 0;
    position: absolute;
    top: 14.9%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    margin: 0;
    position: absolute;
    top: 14.9%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes welcome {
  0% {
    margin: 0;
    position: absolute;
    top: 14.9%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: scale(0.001, 0.001);
            transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    margin: 0;
    position: absolute;
    top: 14.9%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}

h1 {
  font-size: 60px;
  font-weight: 600;
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

h4 {
  font-size: 30px;
  font-weight: bold;
}

.h1-text,
.h2-text,
.h3-text,
.h4-text {
  font-family: 'Tangerine', cursive;
}

a.f {
  font-family: 'Gruppo', cursive;
}

.karte {
  max-width: 100%;
  height: auto;
}

figure > img {
  max-width: 50%;
}

figure > img:hover {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.article-text {
  font-family: 'Josefin Slab', serif;
  font-size: 1.1em;
}

.span::first-letter {
  font-size: 2.5em;
  font-family: 'Tangerine', cursive;
  line-height: 35px;
  initial-letter: 4;
}

.span-arrow::after {
  position: absolute;
  top: 10px;
  content: '\1F963';
  font-size: 1.8em;
  padding-left: 5px;
  padding-right: 5px;
}

.span-arrow::first-letter {
  font-size: 2.5em;
  font-family: 'Tangerine', cursive;
  line-height: 35px;
  initial-letter: 4 5;
}

ul {
  list-style: none;
}

li.gradued:before {
  content: '\1F393';
  margin-left: 20px;
  margin-right: 10px;
}

li.building:before {
  content: '\1f3db \02735';
  color: #17a2b8;
  margin-left: 20px;
  margin-right: 10px;
}

li.building {
  cursor: pointer;
}

.cursor-img {
  cursor: pointer;
}

.h-bt {
  height: 140px;
}

.fcapt-pos {
  padding-top: 30px;
  text-align: center;
}

.scene-tiere {
  border: 1px solid #CCC;
  margin: 40px 0;
  position: relative;
  width: 300px;
  height: 282px;
  margin: 30px auto;
  -webkit-perspective: 400px;
          perspective: 400px;
  -webkit-box-shadow: 0px 1px 15px -2px #9b9b9b;
          box-shadow: 0px 1px 15px -2px #9b9b9b;
}

.carousel-tiere {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-1411px);
          transform: translateZ(-1411px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.carousel-cell-tiere {
  position: absolute;
  width: 280px;
  height: 262px;
  left: 10px;
  top: 10px;
  border: 1px solid black;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.carousel-cell-tiere:nth-child(15n+1) {
  background: rgba(255, 0, 0, 0.8);
}

.carousel-cell-tiere:nth-child(15n+2) {
  background: rgba(255, 102, 0, 0.8);
}

.carousel-cell-tiere:nth-child(15n+3) {
  background: rgba(255, 204, 0, 0.8);
}

.carousel-cell-tiere:nth-child(15n+4) {
  background: rgba(102, 255, 0, 0.8);
}

.carousel-cell-tiere:nth-child(15n+5) {
  background: rgba(0, 255, 0, 0.8);
}

.carousel-cell-tiere:nth-child(15n+6) {
  background: rgba(0, 255, 102, 0.8);
}

.carousel-cell-tiere:nth-child(15n+7) {
  background: rgba(0, 255, 204, 0.8);
}

.carousel-cell-tiere:nth-child(15n+8) {
  background: rgba(0, 204, 255, 0.8);
}

.carousel-cell-tiere:nth-child(15n+9) {
  background: rgba(0, 102, 255, 0.8);
}

.carousel-cell-tiere:nth-child(15n+10) {
  background: rgba(0, 0, 255, 0.8);
}

.carousel-cell-tiere:nth-child(15n+11) {
  background: rgba(102, 0, 255, 0.8);
}

.carousel-cell-tiere:nth-child(15n+12) {
  background: rgba(204, 0, 255, 0.8);
}

.carousel-cell-tiere:nth-child(15n+13) {
  background: rgba(255, 0, 204, 0.8);
}

.carousel-cell-tiere:nth-child(15n+14) {
  background: rgba(255, 0, 102, 0.8);
}

.carousel-cell-tiere:nth-child(15n+15) {
  background: rgba(255, 0, 0, 0.8);
}

.carousel-cell-tiere:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(1411px);
          transform: rotateY(0deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(2) {
  -webkit-transform: rotateY(24deg) translateZ(1411px);
          transform: rotateY(24deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(3) {
  -webkit-transform: rotateY(48deg) translateZ(1411px);
          transform: rotateY(48deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(4) {
  -webkit-transform: rotateY(72deg) translateZ(1411px);
          transform: rotateY(72deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(5) {
  -webkit-transform: rotateY(96deg) translateZ(1411px);
          transform: rotateY(96deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(6) {
  -webkit-transform: rotateY(120deg) translateZ(1411px);
          transform: rotateY(120deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(7) {
  -webkit-transform: rotateY(144deg) translateZ(1411px);
          transform: rotateY(144deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(8) {
  -webkit-transform: rotateY(168deg) translateZ(1411px);
          transform: rotateY(168deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(9) {
  -webkit-transform: rotateY(192deg) translateZ(1411px);
          transform: rotateY(192deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(10) {
  -webkit-transform: rotateY(216deg) translateZ(1411px);
          transform: rotateY(216deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(11) {
  -webkit-transform: rotateY(240deg) translateZ(1411px);
          transform: rotateY(240deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(12) {
  -webkit-transform: rotateY(264deg) translateZ(1411px);
          transform: rotateY(264deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(13) {
  -webkit-transform: rotateY(288deg) translateZ(1411px);
          transform: rotateY(288deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(14) {
  -webkit-transform: rotateY(312deg) translateZ(1411px);
          transform: rotateY(312deg) translateZ(1411px);
}

.carousel-cell-tiere:nth-child(15) {
  -webkit-transform: rotateY(336deg) translateZ(1411px);
          transform: rotateY(336deg) translateZ(1411px);
}

@media screen and (width: 360px) and (max-height: 740) and (orientation: portrait) {
  .welcome {
    margin: 0;
    position: absolute;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    left: 0%;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  .scene-tiere {
    -webkit-perspective: 280px;
            perspective: 280px;
  }
}

@media screen and (max-width: 440px) and (max-height: 846px) and (orientation: portrait) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 22%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 22%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 22%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 22%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  .scene-tiere {
    -webkit-perspective: 50px;
            perspective: 50px;
  }
}

@media screen and (max-width: 846px) and (max-height: 414px) and (orientation: landscape) {
  .welcome {
    margin: 0;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 0%;
    -webkit-animation-delay: 0.05s;
            animation-delay: 0.05s;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-transition: opacity scale 0.05s;
    transition: opacity scale 0.05s;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 0%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 0%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 0%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  .scene-tiere {
    -webkit-perspective: 210px;
            perspective: 210px;
  }
}

@media screen and (max-width: 720px) and (height: 1280px) and (orientation: portrait) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 33.8%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 33.8%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 33.8%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 33.8%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  .scene-tiere {
    -webkit-perspective: 180px;
            perspective: 180px;
  }
}

@media screen and (max-width: 1280px) and (height: 720px) and (orientation: landscape) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 21.2%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 21.2%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 21.2%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 21.2%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  .scene-tiere {
    -webkit-perspective: 300px;
            perspective: 300px;
  }
}

@media screen and (max-width: 768px) and (height: 1024px) and (orientation: portrait) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 29.7%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 29.7%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 29.7%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 29.7%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  .scene-tiere {
    -webkit-perspective: 120px;
            perspective: 120px;
  }
}

@media screen and (max-width: 1024px) and (height: 768px) and (orientation: landscape) {
  .welcome {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-animation-delay: 0.05;
            animation-delay: 0.05;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-name: welcome;
            animation-name: welcome;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forward;
            animation-fill-mode: forward;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 23%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 23%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes welcome {
    0% {
      margin: 0;
      position: absolute;
      top: 23%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform: scale(0.001, 0.001);
              transform: scale(0.001, 0.001);
      opacity: 0;
    }
    100% {
      margin: 0;
      position: absolute;
      top: 23%;
      -webkit-transform: translate(0%, -50%);
              transform: translate(0%, -50%);
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 1;
    }
  }
  .scene-tiere {
    -webkit-perspective: 260px;
            perspective: 260px;
  }
}

@media screen and (max-width: 1080x) and (height: 1920px) and (orientation: portrait) {
  .scene-tiere {
    -webkit-perspective: 500px;
            perspective: 500px;
  }
}
/*# sourceMappingURL=style.css.map */