/* 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Modak', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Uncial Antiqua', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Diplomata', cursive;
    font-family: 'Allura', cursive;
    font-family: 'Black Ops One', cursive;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Rochester', cursive;
    font-family: 'Syncopate', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Nixie One', cursive;
    font-family: 'Montserrat', sans-serif;

*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f0fffa;
}

header,
nav,
footer {
  margin: 0px;
  background-color: #138102;
  color: white;
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  width: 100%;
}

header {
  position: relative;
  top: 0px;
  padding: 5px;
}

header h1 {
  padding: 0px;
  font-size: 3em;
}

header h2 {
  font-size: 2em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(42, 147, 0, 0.682);
          box-shadow: 1px 1px 2px 1px rgba(42, 147, 0, 0.682);
  text-align: center;
}

nav ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 0px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px 30px;
}

nav ul li:hover {
  background-color: #ffc701;
  list-style: none;
  display: inline-block;
  padding: 10px 0px;
}

nav ul li:hover a:hover {
  background-color: #ffc701;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px 30px;
  color: #0f4207;
}

.portion figure {
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  padding: 20px;
  margin: 20px;
  border: 1px solid #2b9401;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(42, 147, 0, 0.682);
          box-shadow: 1px 1px 2px 1px rgba(42, 147, 0, 0.682);
}

.portion figure img {
  max-width: 100%;
}

.portion article {
  width: 45%;
  float: left;
  position: relative;
  left: 0px;
  text-align: justify;
}

.portion article h3 {
  color: #a40100;
  font-size: 2em;
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.portion article p {
  color: #544b4c;
  text-align: justify;
  margin: 10px 10px;
  font-size: 1em;
  padding: 10px 20px;
  font-family: "Quicksand", sans-serif;
}

section {
  text-align: center;
  width: 100%;
  position: relative;
  left: 0px;
  float: left;
}

section h3 {
  color: #a40100;
  font-size: 2em;
  font-family: "Great Vibes", cursive;
}

section p {
  color: #544b4c;
  text-align: justify;
  margin: 20px 10px;
  font-size: 1em;
  padding: 0px 10px;
  font-family: "Quicksand", sans-serif;
}

footer {
  overflow: hidden;
  position: relative;
  top: 0px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(42, 147, 0, 0.682);
          box-shadow: 1px 1px 2px 1px rgba(42, 147, 0, 0.682);
  text-align: center;
}

footer ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

footer ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 0px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 30px;
}

footer ul li:hover {
  background-color: #ffc701;
  list-style: none;
  display: inline-block;
  padding: 10px 0px;
}

footer ul li:hover a:hover {
  background-color: #ffc701;
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 30px;
  color: #0f4207;
}

@media screen and (max-width: 600px) {
  header,
  nav,
  ul,
  li,
  main,
  figure,
  .portion,
  aside,
  section,
  footer {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .portion {
    margin: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  .portion figure {
    margin: 0px;
    width: 100%;
    padding: 20px;
    border: #2b9401;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(42, 147, 0, 0.682);
            box-shadow: 1px 1px 2px 1px rgba(42, 147, 0, 0.682);
  }
  .portion figure img {
    max-width: 100%;
  }
  .portion article {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */