/* 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Modak', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Uncial Antiqua', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Diplomata', cursive;
    font-family: 'Allura', cursive;
    font-family: 'Black Ops One', cursive;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Rochester', cursive;
    font-family: 'Syncopate', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Nixie One', cursive;
    font-family: 'Montserrat', sans-serif;

*/

//variablen
$font-stack: 'Poiret One',
cursive;
$font-main: 'Josefin Slab',
serif;
$font-m:'Quicksand',
sans-serif;
$font-art:'Petit Formal Script',
cursive;
$font-wt: bolder;
$font-wt-default:100;
$font-col-white:white;
$font-col-nav:#0f4207;
$font-col-header:#0f4207;
$font-col-head:#a40100;
$font-col-txt:#544b4c;
$bg-color:#f0fffa;
$bg-but-color:#652011;
$bg-but-color1:#189e03;
$bg-nav-color1:#a40100;
$bg-nav-color2: #0f4207;
$bg-nav-color3:#138102;
$bg-nav-color4:#ffc701;
$bg-bord-col:#2b9401;
$bg-box-shad-col1: 2px 1px 18px 1px rgba(42, 147, 0, 0.682);
$bg-box-shad-col2: 1px 1px 7px 1px rgba(42, 147, 0, 0.682);
$f-size1:1em;
$f-size2:1.3em;
$f-size3:1.8em;
$f-size4:2.5em;
$f-size5:3.3em;
$f-txt-al-center:center;
$f-txt-al-justify: justify;
//mixin
@mixin txt-format($text-color, $align, $font-family, $font-size, $font-weight) {
    color: $text-color;
    text-align: $align;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin link-format($text-color, $align, $bg-color, $font-size, $font-weight) {
    color: $text-color;
    text-align: $align;
    $background: $bg-color;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin links {
    transition: ease-in-out 500ms;
    text-transform: uppercase;
    &:hover {
        color: $font-col-nav;
        text-align: $f-txt-al-center;
        background: $bg-nav-color4;
        font-size: $f-size2;
        font-weight: $font-wt;
    }
    &:active {
        background: $bg-nav-color1;
        color: $font-col-white;
    }
}

@mixin links-unten {
    transition: ease-in-out 500ms;
    text-transform: lowercase;
    &:hover {
        color: $font-col-nav;
        text-align: $f-txt-al-center;
        background: $bg-nav-color4;
        font-size: $f-size1;
        font-weight: $font-wt;
    }
    &:active {
        background: $bg-nav-color1;
        color: $font-col-white;
    }
}

%light-text {
    float: left;
    border: 1px solid $bg-bord-col;
    background: $bg-color;
    text-align: center;
    color: $font-col-txt;
    font-size: 1em;
    padding: 40px;
    font-family: $font-main;
    font-weight: $font-wt;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $bg-color;
}

nav,
footer {
    margin: 0px;
    background-color: $bg-nav-color3;
    color: $font-col-white;
    font-family: $font-stack;
    text-align: center;
    width: 100%;
}

header {
    width: 100%;
    position: relative;
    top: 0px;
    padding: 5px;
    h1 {
        @include txt-format($font-col-header, $f-txt-al-center, $font-stack, $f-size4, $font-wt);
        padding: 0px;
    }
    h2 {
        @include txt-format($font-col-header, $f-txt-al-center, $font-stack, $f-size3, $font-wt);
        // font-weight: bold;
    }
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    box-shadow: $bg-box-shad-col1;
    text-align: $f-txt-al-center;
    ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            display: inline-block;
            padding: 10px 0px;
            a {
                @include txt-format($font-col-white, $f-txt-al-center, $font-stack, $f-size2, $font-wt);
                text-decoration: none;
                padding: 10px 30px;
                @include links();
            }
        }
        // li:hover {
        //     background-color: $bg-nav-color4;
        //     list-style: none;
        //     display: inline-block;
        //     padding: 10px 0px;
        //     a:hover {
        //         @include link-format($font-col-nav, $f-txt-al-center, $bg-nav-color4, $f-size2, $font-wt);
        //         text-decoration: none;
        //         padding: 10px 30px;
        //     }
        // }
    }
}

.portion {
    width: 100%;
    text-align: center;
    figure {
        width: 27%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        padding: 20px;
        margin: 20px;
        border: 1px solid $bg-bord-col;
        box-shadow: $bg-box-shad-col1;
        img {
            max-width: 100%;
        }
    }
}

section {
    width: 100%;
    position: relative;
    left: 0px;
    float: left;
    h3 {
        @include txt-format($font-col-head, $f-txt-al-center, $font-art, $f-size2, $font-wt);
    }
    p {
        @include txt-format($font-col-txt, $f-txt-al-justify, $font-m, $f-size1, $font-wt-default);
        margin: 20px 10px;
        padding: 0px 10px;
    }
}

.text {
    @extend %light-text;
    margin: 20px;
    border-radius: 30%;
}

footer {
    overflow: hidden;
    position: relative;
    top: 0px;
    box-shadow: $bg-box-shad-col1;
    text-align: $f-txt-al-center;
    ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            display: inline-block;
            padding: 10px 0px;
            a {
                @include txt-format($font-col-white, $f-txt-al-center, $font-stack, $f-size1, $font-wt);
                text-decoration: none;
                padding: 10px 30px;
                @include links-unten();
            }
        }
        // li:hover {
        //     background-color: $bg-nav-color4;
        //     list-style: none;
        //     display: inline-block;
        //     padding: 10px 0px;
        //     a:hover {
        //         @include link-format($font-col-nav, $f-txt-al-center, $bg-nav-color4, $f-size1, $font-wt);
        //         text-decoration: none;
        //         padding: 10px 30px;
        //     }
        // }
    }
}

@media screen and (max-width:600px) {
    header,
    nav,
    ul,
    li,
    main,
    figure,
    .portion,
    aside,
    section,
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .portion {
        margin: 0px;
        padding: 10px;
        text-align: $f-txt-al-center;
        width: 100%;
        figure {
            margin: 0px;
            width: 100%;
            padding: 20px;
            border: $bg-bord-col;
            box-shadow: $bg-box-shad-col2;
            img {
                max-width: 100%;
            }
        }
        article {
            width: 100%;
        }
    }
}