body {
    background-color: #000000;
}

header {
    background: #c9c3c3;
    background-image: -moz-linear-gradient(#ffffff, #cecece);
    background-image: -webkit-linear-gradient(#ffffff, #cecece);
    background-image: -ms-linear-gradient(#ffffff, #cecece);
    color: #ff0000;
    text-align: right;
    border-radius: 0 0 15px 15px;
}

footer,
header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin-bottom: 15px;
}
/* 
div.h {
    float: left;
}

div.s {
    float: right;
} */

.main {
    /* height: 500px; */
    border-radius: 25px;
    background-color: #979696;
}

h1,
h2,
summary,
span {
    color: #ff0000;
}

h1 {
    font-size: 25px;
}

span.menu {
    font-size: 25px;
    cursor: pointer;
}

hr {
    color: #ff0000;
    margin-bottom: 20px;
}

article,
p {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    background-color: #f5f5f5;
    color: #8d8b8b;
    border-radius: 15px 15px 0 0;
    text-align: justify;
}

details {
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    background-color: #f5f5f5;
    color: #8d8b8b;
    text-align: justify;

}

footer {
    background-color: #ebe5e5;
    text-align: center;
    padding: 20px;

    background-color: #f5f5f5;
    color: #8d8b8b;
    border-radius: 0 0 15px 15px;
}

/* @media screen and (max-width:2000px) and (min-width:900px) { */
@media screen and (min-width:900px) {
    nav.desk {
        overflow: hidden;
        /* background: radial-gradient(circle, black, white); */
        margin: 15px;

    }

    nav.desk a.desk {
        background-color: #000000;
        /* background-image: linear-gradient();  */
        background-image: -moz-linear-gradient(#a0a0a0, #4b4b4b, #333333, #222222, #000000, #000000, #303030, #4b4b4b, #979696, #c9c3c3, #ffffff);
        background-image: -webkit-linear-gradient(#a0a0a0, #4b4b4b, #333333, #222222, #000000, #000000, #303030, #4b4b4b, #979696, #c9c3c3, #ffffff);
        background-image: -ms-linear-gradient(#a0a0a0, #4b4b4b, #333333, #222222, #000000, #000000, #303030, #4b4b4b, #979696, #c9c3c3, #ffffff);
        color: #ffffff;
        float: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-stretch: expanded;
        font-size: 15px;
        width: 16.5%;
        text-align: center;
        padding: 20px 0;
        /* border-right: 1px solid #ffffff; */
        border-right: 1px solid #000000;
        text-decoration: none;
    }

    nav.desk a.desk:hover {
        background-color: #ff0000;
        background-image: -moz-linear-gradient(#ffffff, #ffffff, #f7dfdf, #fdb7b7, #faaaaa, #fd8383, #fa4d4d, #ff0000, #ff0000, #ff0000, #ff0000, #ff0000);
        background-image: -webkit-linear-gradient(#ffffff, #ffffff, #f7dfdf, #fdb7b7, #faaaaa, #fd8383, #fa4d4d, #ff0000, #ff0000, #ff0000, #ff0000, #ff0000);
        background-image: -ms-linear-gradient(#ffffff, #ffffff, #f7dfdf, #fdb7b7, #faaaaa, #fd8383, #fa4d4d, #ff0000, #ff0000, #ff0000, #ff0000, #ff0000);
    }

    nav.desk a.desk:active {
        background-color: #ff0000;
        background-image: -moz-linear-gradient(#ffffff, #ffffff, #f8d9d9, #fdb7b7, #faaaaa, #fd8383, #fa4d4d, #ff0000, #ff0000, #ff0000, #ff0000, #ff0000);
        background-image: -webkit-linear-gradient(#ffffff, #ffffff, #f7dfdf, #fdb7b7, #faaaaa, #fd8383, #fa4d4d, #ff0000, #ff0000, #ff0000, #ff0000, #ff0000);
        background-image: -ms-linear-gradient(#ffffff, #ffffff, #f7dfdf, #fdb7b7, #faaaaa, #fd8383, #fa4d4d, #ff0000, #ff0000, #ff0000, #ff0000, #ff0000);
    }

    .overlay,
    nav.overlay-content,
    span {
        display: none;
    }
}

@media screen and (max-width:900px) {
    nav.desk a.desk {
        display: none;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.88);
        overflow-x: hidden;
        transition: .5s;
    }

    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 5px;
        display: block;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: .3s;
    }

    .overlay a:focus,
    .overlay a:hover {
        color: #ff0000;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 30px;
    }

    span {
        color: #ff0000;
    }
}

/* @media screen and (max-height: 450px) {
    nav.desk a.desk {
        display: none;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        display: block;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #ff0000;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      span{
          color: #ff0000;
      }
} */