/* 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Modak', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Uncial Antiqua', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Diplomata', cursive;
    font-family: 'Allura', cursive;
    font-family: 'Black Ops One', cursive;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Rochester', cursive;
    font-family: 'Syncopate', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Nixie One', cursive;
    font-family: 'Montserrat', sans-serif;

*/

// ************    Variablen   **********
// *** font-family  ***
$font-stack: 'Poiret One',
cursive;
$font-main: 'Josefin Slab',
serif;
$font-m:'Quicksand',
sans-serif;
$font-art:'Petit Formal Script',
cursive;
// *** font-weight ***
$font-wt: bolder;
$font-wt-default:100;
// *** font-color ***
$font-col-white:white;
$font-col-nav1:#0f4207;
$font-col-nav2:#652011;
$font-col-nav3:#a40100;
$font-col-nav4:#ffc701;
$font-col-header:#0f4207;
$font-col-head:#a40100;
$font-col-txt:#544b4c;
// *** background - color ***
$bg-color:#f0fffa;
$bg-color1:#2b9401;
$bg-but-color:#652011;
$bg-but-color1:#189e03;
$bord-color:#189e03;
// *** navigation ***
$bg-nav-color1:#a40100;
$bg-nav-color2: #0f4207;
$bg-nav-color3:#138102;
$bg-nav-color4:#ffc701;
// *** shadow   ***
$bg-box-shad-col1: 2px 1px 18px 1px rgba(42, 147, 0, 0.682);
$bg-box-shad-col2: 1px 1px 7px 1px rgba(42, 147, 0, 0.682);
// *** font-size ***
$f-size1:1em;
$f-size2:1.3em;
$f-size3:1.8em;
$f-size4:2.5em;
$f-size5:3.3em;
// *** text align ***
$f-txt-al-center:center;
$f-txt-al-justify: justify;
/////************   Mixin  *************
//// ************** Style ****************
.myshadow {}

.form-container {
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 14px 0px #fcfcfc;
    position: absolute;
    top: 10vh;
    background-color: rgba(236, 231, 231, 0.697);
    border: 1px solid #eee;
}

body {
    // background: url(https://picsum.photos/id/675/1200/1200);
    // background: url(https://picsum.photos/id/385/1200/1200);
    //background-image: url(https://picsum.photos/id/755/2200/2200);
    background-image: url(../img/tasse.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}