/* 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Modak', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Uncial Antiqua', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Diplomata', cursive;
    font-family: 'Allura', cursive;
    font-family: 'Black Ops One', cursive;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Rochester', cursive;
    font-family: 'Syncopate', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Nixie One', cursive;

*/

@font-face {
    src: url(../fonts/Allura/Allura-Regular.ttf);
    font-family: my-new-font;
}

.ru {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.loips {
    font-family: my-new-font;
    font-size: 30px;
    padding: 25px;
}

.fa-cat {
    font-size: 60px;
    color: blueviolet;
}

.fa-chess-queen {
    font-size: 100px;
    color: aqua;
}

.fa-angular {
    color: red;
}

.fa-heart {
    color: blue;
}

.fa-chess-rook {
    color: coral;
}

.fa-circle-o-notch {
    color: red;
}

.fa-pulse {
    color: green;
}

.fa-500px {
    color: blue;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}

.fab {
    font-size: 50px;
}

.far {
    font-size: 70px;
}

.fa-clock {
    color: #00b489;
}

.fa-bell {
    color: red;
}

.fas {
    font-size: 50px;
}

.fa-quote-left,
.fa-quote-right {
    color: brown;
}

li {
    list-style: none;
}

.fa-envelope {
    color: blue;
    text-shadow: -1px 0 rgb(255, 0, 0), 0 1px rgb(255, 0, 0), 1px 0 rgb(255, 0, 2), 0 -1px rgb(252, 4, 4);
}

.fa-check-square {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-chess-rook {
    text-shadow: -2px 0 black, 0 2px rgb(252, 5, 5), 2px 0 rgb(137, 253, 4), 0 -2px rgb(1, 240, 248);
}

.fa-gamepad {
    text-shadow: -1px 0 rgb(250, 1, 1), 0 1px rgb(157, 255, 0), 1px 0 rgb(4, 21, 255), 0 -1px rgb(247, 210, 1);
}