body{
    background-color: #553308;
}
.main{
    
    height:1500px;
}
.row{
    position:relative;
    top:0px;
    left:0px;
    background-color: #553308;
    height:50px;
}
#hell{
    position: relative;
    left:0px;
    top:0px;
    background-color: transparent;
    height:50px;
    width:50px;
}
#dark{
    position: relative;
    left:0px;
    top:0px;
    background-color: red;
    height:50px;
    width:50px;
}
