/* 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Modak', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Uncial Antiqua', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Diplomata', cursive;
    font-family: 'Allura', cursive;
    font-family: 'Black Ops One', cursive;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Rochester', cursive;
    font-family: 'Syncopate', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Nixie One', cursive;
    font-family: 'Montserrat', sans-serif;

*/

// ************    Variablen   **********
// *** font-family  ***
$font-stack: 'Poiret One',
cursive;
$font-main: 'Josefin Slab',
serif;
$font-m:'Quicksand',
sans-serif;
$font-art:'Petit Formal Script',
cursive;
// *** font-weight ***
$font-wt: bolder;
$font-wt-default:100;
// *** font-color ***
$font-col-white:white;
$font-col-nav:#0f4207;
$font-col-header:#0f4207;
$font-col-head:#a40100;
$font-col-txt:#544b4c;
// *** backcround - color ***
$bg-color:#f0fffa;
$bg-color1:#2b9401;
$bg-but-color:#652011;
$bg-but-color1:#189e03;
// *** navigation ***
$bg-nav-color1:#a40100;
$bg-nav-color2: #0f4207;
$bg-nav-color3:#138102;
$bg-nav-color4:#ffc701;
// *** shadow   ***
$bg-box-shad-col1: 2px 1px 18px 1px rgba(42, 147, 0, 0.682);
$bg-box-shad-col2: 1px 1px 7px 1px rgba(42, 147, 0, 0.682);
// *** font-size ***
$f-size1:1em;
$f-size2:1.3em;
$f-size3:1.8em;
$f-size4:2.5em;
$f-size5:3.3em;
// *** text align ***
$f-txt-al-center:center;
$f-txt-al-justify: justify;
/////************   Mixin  *************
//// ************** Style ****************
@mixin superstyler($color, $f-size, $element) {
    #{$element} {
        background-color: $color;
        font-size: $f-size;
        &:hover {
            background-color: lighten($color, 20%);
        }
    }
}

@mixin txt-styler($f-size) {
    @if ($f-size >=2.2em) {
        font-size: $f-size;
        text-align: $f-txt-al-center;
        font-family: $font-stack;
        color: $font-col-head;
    }
    @else if $f-size <=2.1em and $f-size>1.2em {
        font-size: $f-size;
        text-align: $f-txt-al-center;
        font-family: $font-art;
        color: $font-col-nav;
    }
    @else if $f-size<=1.2em {
        font-size: $f-size;
        text-align: $f-txt-al-justify;
        font-family: $font-main;
        color: $font-col-txt;
        padding: 10px 30px;
    }
}

@mixin txt-styler2($f-size) {
    font-size: $f-size;
    text-align: $f-txt-al-justify;
    font-family: $font-main;
}

@mixin ball-styler($width, $height, $bord-rad) {
    width: $width;
    height: $height;
    border-radius: $bord-rad;
}

@mixin animation ($delay, $duration, $animation-name, $direction, $timing-function, $iteration-count) {
    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation-name;
    animation-direction: $direction;
    animation-timing-function: $timing-function;
    animation-iteration-count: $iteration-count;
    @keyframes at-rule {
        from {
            left: 0%;
            transform: scale(1, 1);
        }
        to {
            left: 50%;
            top: 60%;
            transform: scale(0.5, 0.5);
        }
    }
}

///// Elementen, Selectors
.title {
    @include txt-styler($f-size4);
}

.container {
    .ball1,
    .ball2,
    .ball3 {
        position: absolute;
        left: 0px;
        @include ball-styler(150px, 150px, 50%);
    }
    .ball1 {
        border: 2px solid $bg-color1;
        background-color: $bg-but-color1;
        top: 0px;
        @include animation(1s, 3.5s, at-rule, alternate, ease-in-out, infinite);
    }
    .ball2 {
        border: 2px solid $bg-nav-color4;
        background-color: $bg-nav-color4;
        top: 50px;
        @include animation(4s, 4s, at-rule, alternate, ease-in-out, infinite);
    }
    .ball3 {
        border: 2px solid $bg-but-color;
        background-color: $bg-but-color;
        top: 150px;
        @include animation(2s, 3s, at-rule, alternate, ease-in-out, infinite);
    }
}