* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    padding: 60px;
    text-align: center;
    background-color: #d0fbff;
    color: #004147;
}

.nav {
    background-color: #01353a;
    display: flex;
    justify-content: center;
}

.nav a {
    color: #e7fdff;
    text-decoration: none;
    padding: 15px 10px;
    font-weight: bold;
    text-align: center;

}

.nav a:hover {
    background-color: #d0fbff;
    color: #004147;
    font-weight: bold;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    background-color: #e7fdff;
    flex: 30%;
    padding: 20px;
}


.noimg {
    background-color: #b3f9ff;
    width: 100%;
    padding: 20px;
    

}

#noimg1 {
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
}

#noimg2{
    height: 150px;
    background-image: url('../img/4.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
   

}

.main {
    flex: 70%;
    padding: 20px;
}

.footer {
    background-color: #01353a;
    color: #d0fbff;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width:700px) {

    .row,
    .nav,
    .noimg,
    img {
        flex-direction: column;
    }

    .nav a {
        /* text-align: center; */
        border-bottom: 1px solid #01353a;
        border-top: 1px solid #01353a;
    }
    #noimg1{
        background-size: 100%;
    }
}