/**
    font-family: 'Josefin Slab', serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Modak', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Uncial Antiqua', cursive;

**/

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: bolder;
}

h1 {
    font-family: 'Great Vibes', sans-serif;
    font-size: 40px;
    color: rgb(1, 192, 245);
}

h1::first-letter {
    color: blue;
    font-size: 70px;
}

.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto, minmax(5px, auto));
    grid-gap: 3px;
    /* grid-auto-rows: minmax(50px, auto); */
}

.wo {
    background-color: blue;
    color: white;
    border: 2px solid white;
    padding: 20px;
    font-family: 'Great Vibes', sans-serif;
    font-size: 25px;
}

.tg {
    background-color: rgb(241, 252, 255);
    color: rgb(1, 192, 245);
    border: 2px solid rgb(1, 192, 245);
    padding: 20px;
}

.not-actuell {
    background-color: rgb(68, 215, 255);
    color: rgb(200, 238, 225);
    border: 2px double rgb(1, 192, 245);
    padding: 20px;
    font-weight: bolder;
}

abbr {
    cursor: help;
}