/* 
    font-family: 'Architects Daughter', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Slab', serif;
    font-family: 'Modak', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Tangerine', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Uncial Antiqua', cursive;
    font-family: 'Gugi', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Diplomata', cursive;
    font-family: 'Allura', cursive;
    font-family: 'Black Ops One', cursive;
    font-family: 'Pinyon Script', cursive;
    font-family: 'Rochester', cursive;
    font-family: 'Syncopate', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Nixie One', cursive;
    font-family: 'Montserrat', sans-serif;

*/

//variablen
$font-stack: 'Didact Gothic',
sans-serif;
$font-main: 'Josefin Slab',
serif;
$font-m:'Quicksand',
sans-serif;
$font-art:'Great Vibes',
cursive;
$font-wt: bolder;
$font-col-white:white;
$font-col-h4:#652011;
$font-col-head:#1d5209;
$font-col-txt:#544b4c;
$bg-but-color:#652011;
$bg-but-color1:#d22129;
$bg-nav-color1: #d22129;
$bg-nav-color2:#ff5b61;
$bg-bord-col:#652011;
$bg-box-shad-col1: 2px 4px 8px 3px #652011;
$bg-box-shad-col2: 2px 1px 12px 3px #652011;
$f-size1:1em;
$f-size2:1.5em;
$f-size3:2em;
$f-size4:3em;
$f-size5:4em;
$f-txt-al-center:center;
$f-txt-al-justify: justify;
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
nav,
footer {
    margin: 0px;
    background-color: $bg-nav-color1;
    color: $font-col-white;
    font-family: $font-stack;
    text-align: center;
    width: 100%;
}

header {
    position: relative;
    top: 0px;
    padding: 5px;
    h1 {
        padding: 30px;
        font-size: $f-size5;
    }
}

nav {
    position: relative;
    top: 0px;
    box-shadow: $bg-box-shad-col1;
    text-align: $f-txt-al-center;
    ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            display: inline-block;
            padding: 20px 0px;
            a {
                color: $font-col-white;
                text-decoration: none;
                font-size: $f-size3;
                padding: 20px 30px;
            }
        }
        li:hover {
            background-color: $bg-nav-color2;
            list-style: none;
            display: inline-block;
            padding: 20px 0px;
            a:hover {
                background-color: $bg-nav-color2;
                color: $font-col-white;
                text-decoration: none;
                font-size: $f-size3;
                padding: 20px 30px;
            }
        }
    }
}

main {
    .cards {
        text-align: $f-txt-al-center;
        .card {
            box-shadow: $bg-box-shad-col2;
            margin: 15px 5px;
            padding: 20px;
            border: 2px solid $bg-bord-col;
            display: inline-block;
            h4 {
                color: $font-col-h4;
                text-align: $f-txt-al-center;
                font-size: $f-size2;
                font-family: $font-m;
            }
            p {
                color: $font-col-txt;
                font-size: $f-size1;
                font-family: $font-main;
            }
            button {
                background-color: $bg-but-color;
                font-size: $f-size1;
                font-family: $font-stack;
                color: $font-col-white;
                border-radius: 25px;
                padding: 10px;
                border: 1px solid $bg-but-color;
                cursor: pointer;
            }
            button:hover {
                background-color: $bg-but-color1;
                font-size: $f-size1;
                font-family: $font-stack;
                color: $font-col-white;
                border-radius: 25px;
                padding: 10px;
                border: 1px solid $bg-but-color1;
                cursor: pointer;
            }
        }
    }
}

.portion {
    margin: 10px;
    padding: 10px;
    text-align: $f-txt-al-center;
    max-width: 100%;
    figure {
        width: 45%;
        float: left;
        padding: 20px;
        margin: 20px;
        border: 1px solid #652011;
        box-shadow: $bg-box-shad-col2;
        img {
            max-width: 100%;
        }
    }
    article {
        width: 45%;
        float: left;
        position: relative;
        left: 0px;
        text-align: $f-txt-al-justify;
        h3 {
            color: $font-col-head;
            font-size: $f-size3;
            font-family: $font-art;
            text-align: $f-txt-al-center;
        }
        p {
            color: $font-col-txt;
            text-align: $f-txt-al-justify;
            margin: 10px 10px;
            font-size: $f-size1;
            padding: 10px 20px;
            font-family: $font-m;
        }
    }
}

aside {
    text-align: $f-txt-al-center;
    width: 100%;
    float: left;
    position: relative;
    left: 0px;
    h3 {
        color: $font-col-head;
        font-size: $f-size3;
        font-family: $font-art;
    }
    p {
        color: $font-col-txt;
        text-align: $f-txt-al-justify;
        margin: 20px 10px;
        font-size: $f-size1;
        padding: 0px 10px;
        font-family: $font-m;
    }
}

section {
    text-align: $f-txt-al-center;
    width: 100%;
    position: relative;
    left: 0px;
    float: left;
    h3 {
        color: $font-col-head;
        font-size: $f-size3;
        font-family: $font-art;
    }
    p {
        color: $font-col-txt;
        text-align: $f-txt-al-justify;
        margin: 20px 10px;
        font-size: $f-size1;
        padding: 0px 10px;
        font-family: $font-m;
    }
}

footer {
    overflow: hidden;
    position: relative;
    top: 0px;
    box-shadow: $bg-box-shad-col1;
    text-align: $f-txt-al-center;
    ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            display: inline-block;
            padding: 10px 0px;
            a {
                color: $font-col-white;
                text-decoration: none;
                font-size: $f-size2;
                padding: 10px 30px;
            }
        }
        li:hover {
            background-color: $bg-nav-color2;
            list-style: none;
            display: inline-block;
            padding: 10px 0px;
            a:hover {
                background-color: $bg-nav-color2;
                color: $font-col-white;
                text-decoration: none;
                font-size: $f-size2;
                padding: 10px 30px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    header,
    nav,
    ul,
    li,
    main,
    figure,
    article,
    .cards,
    .portion,
    aside,
    section,
    footer {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .portion {
        margin: 0px;
        padding: 10px;
        text-align: $f-txt-al-center;
        max-width: 100%;
        figure {
            margin: 0px;
            width: 100%;
            padding: 20px;
            border: 1px solid #652011;
            box-shadow: $bg-box-shad-col2;
            img {
                max-width: 100%;
            }
        }
        article {
            width: 100%;
        }
    }
}